
html {
  scroll-behavior: smooth;
}
body{
  background-color: #121128;
  /* overflow-x: hidden; */
  /* margin: 0px; */
}

.mainRow{
  display: flex;
  /* flex-direction: row; */
  margin: 0px;
}
/* .Left{
  flex: 1;
}
.middle{
  flex: 8;
}
.right{
  flex: 2.5;
} */

@media screen and (max-width: 788px) {
  .LeftnavBar{
    flex-direction: row;
  }
}

.itemx{
  padding: 0px;
}
